<div id="<%= dom_id memory %>">
  <p>
    <strong>Title:</strong>
    <%= memory.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= memory.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= memory.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= memory.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= memory.user_id %>
  </p>

</div>
